{% extends "layout.njk" %}

{% block content %}
<div class="card">
  <section 
  class="avatar" style="background: url({{ member.avatar_url }}) no-repeat center center / cover"></section>
  <section class="details">
    <h3>Detalhes</h3>
    
    <div class="item">
      <div>Instrutor</div>
      <div>{{member.name}}</div>
    </div>

    <div class="item">
      <div>Aniversário</div>
      <div>{{member.birth}}  ({{member.age}} anos) </div>
    </div>

    <div class="item">
      <div>Email</div>
      <div>{{member.email}}</div>
    </div>

    <div class="item">
      <div>Tipo Sanguineo</div>
      <div>{{member.blood}}</div>
    </div>

    <div class="item">
      <div>Sexo</div>
      <div>{{ member.gender }}</div>
    </div>

    <div class="item">
      <div>Peso (kg)</div>
      <div>{{ member.weight }}</div>
    </div>

    <div class="item">
      <div>Altura (cm)</div>
      <div>{{ member.height }}</div>
    </div>

    <div class="item">
      <div>Instrutor</div>
      <span>{{member.instructor_name}}</span>
    </div>
  
   <a href="/members/{{member.id}}/edit" class="button">Editar</a>

  </section>
</div>
{% endblock content %}